.tile {
    display: inline-block;
    width: 30%;
    height: 68vh;
    margin: 10px;
    position: relative;
    border-radius: 4px;
    margin-bottom: 25px;
    overflow: hidden;
}
@media only screen and (max-width: 480px) {
    .tile {
       width: 95%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
   .tile{
    height: 45vh;
    }
  }

.tile-content {
    background-color: #efefef;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    background: white;
}

.tile-title {
    color:lightgrey;
    float: left;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.tile-price {
    margin: 0
}

.tile-img {
    width: 100%
}

.tile-img img{
  width: 100%;
}
.link{
    padding:30px;
}

.title-link{
    font-size: 18px;
    color: green;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.tile-title-content{
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    text-align:justify;
}
